body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../../public/images/bg.jpg");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
}
body .titre-h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}
body .titre-h1 h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: white;
  font-weight: bold;
}
body .titre-h1 span {
  color: #bebebe;
}
body .titre-h1 span a {
  text-decoration: none;
  text-transform: uppercase;
  color: #bebebe;
}
body .sect1 {
  display: flex;
  flex-direction: column;
  margin: 0px 5%;
  background-color: white;
}
body .sect1 .sect1-banner {
  background-image: url("../../public/images/pic02.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  height: 70vh;
}
body .sect1 .sect1-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}
body .sect1 .sect1-header .sect1-h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .sect1 .sect1-header .sect1-h2 h2 {
  margin: 0;
  font-weight: 600;
  font-size: 26px;
}
body .sect1 .sect1-header .sect1-line {
  height: 1px;
  width: 20%;
  background-color: #CDCCCD;
  margin: 10px 0px;
}
body .sect1 .sect1-header .sect1-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .sect1 .sect1-header .sect1-span span {
  font-size: 12px;
  letter-spacing: 3px;
  color: #CDCCCD;
}
body .sect1 .sect1-text {
  padding: 50px 10%;
  background-color: #F7F6F5;
}
body .sect1 .sect1-text p {
  font-size: 16px;
  color: #C9A2A1;
  font-weight: lighter;
}
body .sect2 {
  display: flex;
  flex-direction: column;
  margin: 0px 5%;
  background-color: #1E1F23;
}
body .sect2 .sect2-container {
  background-color: #121315;
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .sect2 .sect2-container .sect2-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}
body .sect2 .sect2-container .sect2-h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .sect2 .sect2-container .sect2-h2 h2 {
  margin: 0;
  font-weight: 600;
  font-size: 26px;
  color: white;
}
body .sect2 .sect2-container .sect2-line {
  height: 1px;
  width: 20%;
  background-color: #3E4B46;
  margin: 10px 0px;
}
body .sect2 .sect2-container .sect2-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .sect2 .sect2-container .sect2-span span {
  font-size: 12px;
  letter-spacing: 3px;
  color: #3E4B46;
}
body .sect2 .sect2-container .sect2-img {
  display: flex;
  flex-wrap: wrap;
}
body .sect2 .sect2-container .sect2-img img {
  width: 50%;
}
body .sect3 {
  margin: 0 5%;
}
body .sect3 .sect3-container {
  display: flex;
}
body .sect3 .sect3-container .sect3-img {
  flex: 1;
}
body .sect3 .sect3-container .sect3-img img {
  width: 100%;
}
body .sect3 .sect3-container .sect3-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: white;
}
body .sect3 .sect3-container .sect3-text-container .sect3-text {
  padding: 10% 20%;
  display: flex;
  flex-direction: column;
}
body .sect3 .sect3-container .sect3-text-container .sect3-text h3 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
}
body .sect3 .sect3-container .sect3-text-container .sect3-text p {
  margin: 0;
  font-size: 18px;
  color: #9C9D96;
}
body .sect4 {
  margin: 0 5%;
}
body .sect4 .sect4-container {
  display: flex;
}
body .sect4 .sect4-container .sect4-img {
  flex: 1;
}
body .sect4 .sect4-container .sect4-img img {
  width: 100%;
}
body .sect4 .sect4-container .sect4-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: #1E1F23;
}
body .sect4 .sect4-container .sect4-text-container .sect4-text {
  padding: 10% 20%;
  display: flex;
  flex-direction: column;
}
body .sect4 .sect4-container .sect4-text-container .sect4-text h3 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  text-align: end;
  color: white;
}
body .sect4 .sect4-container .sect4-text-container .sect4-text p {
  margin: 0;
  font-size: 18px;
  color: #56575A;
  text-align: end;
}

/*# sourceMappingURL=style.css.map */
